@import url(categorias.css);

body {
    font-family: 'Poppins', sans-serif;
}

#titulo {
    margin-top: 20px;
    margin-bottom: 20px;
}

#titulo span {
    color: #727272;
    font-size: 25px;
}

.agrupaRegistro {
    margin-bottom: 40px;
    border-bottom: 1px solid #d9d9d9;
}

.topicos {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.registro {
    display: flex;
    width: 80%;
    margin-bottom: 20px;
}

/* .imgRegistro {
    margin-top: 5px;
} */

.imgRegistro p {
    color: #979797;
}

.fundoImgRegistro {

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #D9D9D9;

    border-radius: 15px;

    width: 300px;
    height: 300px;

    transition: all 0.3s ease;

}

.fundoImgRegistro:hover {
    /* transform: translateY(-1px); */
    background-color: #d6d5d5;
    /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); */
}

.botaoImg {
    padding: 10px 12px;

    border: none;
    border-radius: 5px;

    background-color: #fff;
}

.infoRegistro {
    margin-left: 15px;
}

.campoRegistro {

    background-color: #D9D9D9;

    /* border: 1px solid #ccc; */
    border: none;
    border-radius: 10px;

    width: 100%;
    height: 40px;

    padding-left: 10px;
    margin-bottom: 10px;
    font-size: 1.1rem;

    font-family: 'Poppins', sans-serif;
}

.campoRegistro:hover {
    background-color: #f0f0f0;
    /* border-color: #8C6342; */
    box-shadow: 0 0 8px rgba(140, 99, 66, 0.2);
}

.campoRegistro:focus {
    outline: none;
    background-color: #fff;
    border-color: #8C6342;
    box-shadow: 0 0 8px rgba(140, 99, 66, 0.8);
}

.campoDividido {
    width: 180px;
}

.adicional {
    width: 230px;
}