@import url(main2.css);

body {
    background-color: #F3F3F3;
    /* position: relative; */
}

/* main {
    position: relative;
} */

#limpaCarrinho {
    font-family: 'Cabin', sans-serif;
    background-color: #8C6342;
    color: #fff;

    border: none;
    border-radius: 10px;

    padding: 10px 30px;
    margin-top: 8px;
    position: absolute;
    right: 35px;

    transition: transform 0.5s ease;
}

#limpaCarrinho:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: all linear 200ms;

    color: #F9EED9;
}

.listaCarrinho {
    /* margin-bottom: 80px; */
    background-color: #F9EED9;
}

.agrupaItemCarrinho {
    display: flex;
    align-items: center;
    /* padding-top: 30px; */
}

.agrupaItemCarrinho img {
    height: 280px;
    width: 350px;
    border-radius: 40px;
}

.quantidadeCarrinho {
    width: 30%;
}

.iconeValorCarrinho {
    margin-left: 280px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    padding: 4px 8px;
    background-color: #D9D9D9;
}

.fa-solid:hover {
    cursor: pointer;
}

.quantidadeCarrinho {
    font-family: 'Poppins', sans-serif;
}

.info-lanche {
    padding-left: 15px;
}

.info-lanche h2 {
    color: #8C6342;
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-size: 40px;
}

.descricao {
    font-family: "Signika Negative", sans-serif;
    font-weight: 400;
    color: #979797;
}

.valor {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 30px;
}

.aproveiteTambem {
    /* border-radius: 1px solid #000; */
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
}

.aproveiteTambem h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding-left: 15px;
    padding-top: 10px;
}

.listaAproveiteTambem {
    display: flex;

    /* text-align: center; */
}

.produtoListaAproveiteTambem {
    background-color: #fff;
    border: solid 1px #ccc;
    border-radius: 5px;
    font-family: 'Cabin', sans-serif;
    padding: 15px;
    height: 340px;
    width: 300px;

    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.imgProdutoAproveiteTambem {
    position: relative;

    background-color: #E7E7E7;
    /* text-align: center; */
    border-radius: 5px;
}

.imgProdutoAproveiteTambem img {
    width: 250px;
    /* height: 190px; */
    /* padding-right: 30px; */
}

.iconeMaisAproveiteTambem {
    /* icone não estava aparecendo sob a img, corrigi deicando sua posição absoluta em relação ao elemento pai (elemento pai com position relative)
    * icone não estava aparecendo pois estava sendo posicionado em relação a janela do navegador, utilizando essa "combinação" de comandos, faço com que ele seja posicionao em relação ao conteiner mais proximo com a sua posição definida (posição definida = com seu position diferente do position padrão, neste caso: caixa pai com position: relative) */
    position: absolute;
    bottom: 30px;
    right: 20px;

    /* z-index: 999; */
    padding: 8px 12px;
    border-radius: 50%;
    background-color: #8C6342;
}

.tituloValorAproveiteTambem {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.tituloValorAproveiteTambem h3 {
    font-size: 17px;
}

.tituloValorAproveiteTambem p {
    font-size: 14px;
}

.descricaoProdutoAproveiteTambem p {
    width: 210px;
    word-wrap: break-word;
    font-size: 13px;
    margin-top: 5px;
}

.pagamento-e-cupom {
    font-family: 'Poppins', sans-serif;
    padding: 20px 30px;
    border-bottom: 2px solid #ccc;
}

.pagamento-e-cupom h3 {
    /* margin-top: 20px; */
    margin-bottom: 20px;
}

.pagamento-e-cupom a {
    color: #EC3030;
    font-weight: 700;
}

.pagamento {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.img-texto-pagamento {
    display: flex;
}

.textoPagamento p {
    color: #9B9999;
    font-weight: 600;
}

#botaoAlterar:hover, #botaoAdicionar:hover {
    color: #c22828;
}

.imgPagamentoCupom {

    width: 70px;
    /* height: 60px; */
    background-color: #D9D9D9;
    border-radius: 50%;
    text-align: center;

    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.imgPagamentoCupom img {
    height: 45px;
}

.cupom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.pagamentoCarrinho {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    padding: 20px 30px;
}

.valoresCarrinho {
    margin-bottom: 100px;
}

.valoresCarrinho p {
    color: #9B9999;
}

.finaliza {
    text-align: center;
    margin-bottom: 80px;

}

.finaliza h1 {
    display: inline-block;
    color: #FFFFFF;
    background-color: #EC3030;
    border-radius: 10px;
    padding: 10px 50px;

    transition: transform 0.5s ease;
}

.finaliza h1:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: all linear 200ms;
}

/* formatando mini telas (tela de pagamento) */

.telaPagamento {

    display: none;
    position: fixed;

    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    z-index: 999;

    /* permite scroll, se precisar */
    overflow: auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;

    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.telaPagamento a {
    color: #EC3030;
    font-size: small;
}

.telaPagamento img {
    width: 50px;
}

.fundoMiniTelaPagamento {
    /* centralizando div */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #fff;
    box-shadow: 0 2px 3px #ccc;

    width: 470px;
    height: 580px;
    border-radius: 10px;

    animation-name: animatetop;
    animation-duration: 1s;
}

#fechar-mini-tela {
    margin-left: 440px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
}

.formaPagamento {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 10px;
    padding: 15px 10px;

    width: 450px;
    height: 90px;

    background-color: #F4F4F4;
    border: 1px solid #ccc;
    border-radius: 20px;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.imgTituloFormaPagamento {
    display: flex;
    align-items: center;
}

.imgTituloFormaPagamento p {
    margin-left: 5px;
}

#pagamentoSalvo h3 {
    margin-left: 15px;
    color: #B5B1B1;
}

.nomeCartao {
    font-size: 12px;
}

/* formatando mini telas (tela de cupom) */

#cupom-disponivel {
    display: none;
    position: fixed;

    top: 0;
    left: 0;

    z-index: 999;

    overflow: auto;

    width: 100%;
    height: 100%;

    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);

    /* border-radius: 15px;   */
}

.fundoMiniTelaCupom {
    /* centralizando mini tela */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #EEEEEE;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 40%;
    border-radius: 15px;

    box-shadow: 0 2px 3px #ccc;

    animation-name: animatetop;
    animation-duration: 1s;
}

#fechar-mini-tela2 {
    margin-left: 510px;
    margin-bottom: 10px;
    font-size: 25px;
}

.cuponsDisponiveis {
    margin-bottom: 20px;
    padding: 10px 20px;

    border: 1px solid #D9D9D9;
    
    background-color: #F5F5F5;
}

.lanchesDisponiveis {
    text-align: center;
}

.agrupaCupom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.infoCupom {
    display: flex;
}

.infoCupom img {
    width: 50px;
}

.infoCupom h2 {
    font-weight: 600;
}

.infoCupom p {
    color: #929090;
}

.desc-cupom {
    font-family: 'Poppins', sans-serif;
    margin-left: 10px;
}

.desc-cupom h2 {
    font-size: 18px;
}

.desc-cupom p {
    font-size: 14px;
}

.imgCupom2 img {
    margin-top: 15px;
    width: 30px;
}

.lanchesDisponiveis {
    font-family: "Baloo Bhai 2", sans-serif;
    font-weight: 600;
    color: #8C6342;
    background-color: #fff;
    border: 1px solid #8C6342;

    border-radius: 15px;
    margin-top: 30px;
}

.lanchesDisponiveis:hover {
    color: #fff;
    background-color: #8C6342;
}

#rodape {
    margin-top: 0px;
}

/* animação de mini tela */

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 300; opacity: 1}
  }