body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: #023047
}

.pagina {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #C82727;
}

.formLogin {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 7px;
    padding: 40px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    gap: 5px
}

.areaLogin img {
    width: 420px;
}

.formLogin h1 {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 2.3em;
}

.formLogin p {
    display: inline-block;
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
}

.formLogin input {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 4px;
    /* realizando transição de cor em 160milisegundos */
    transition: all linear 160ms;
    /* retirando bordas pretas */
    outline: none;
}

/* criando efeito ao clicar na caixa */
.formLogin input:focus {
    border: 1px solid #f72585;
}

/* tamanho dos texto dentro do form (email e senha) */
.formLogin label {
    font-size: 14px;
    font-weight: 600;
}

/* formatação do "esqueci minha senha" - todos os links no geral */
.formLogin a {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 13px;
    color: #555;
}

.formLogin a:hover {
    color: #f72585;
}

.voltar {
    margin-top: 20px
}

/* formatação do "acessar" */
.btn {
    background-color: #C82727;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    margin: 0 !important;
}

.btn:hover {
    /* aumentando tamanho ao passar o mouse sobre o botao */
    transform: scale(1.05);
    background-color: #ff0676;

}