* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

body {
    background-color: #F9EED9;
}

/* formatando cabecalho */

#cabecalho {
    background-color: #8C6342;
}

#barra-topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    padding-top: 15px;
    padding-bottom: 15px;
}

.logotipo img {
    width: 150px;
}

#menu ul {
    display: flex;
    list-style: none;
}

#menu ul li {
    margin: 20px;
}

#menu a {
    text-decoration: none;
    color: #F9EED9;
}

#menu a:hover {
    color: #fff;
}

.buttonMenu {
    display: flex;
    /* elementos filhos terao suas posições relativas a este elemento (elemento pai), e não ao viewport do navegador, serão posicionados dentro desta caixa */
    position: relative;
}

#contador-carrinho {
    /* não vai afetar o layout de outros elementos
    * será posicionado em relação ao elemento pai (buttonMenu) e não ao viewport do navegador
    * se colocado left 0, top0, sera posicionado no canto superior esquerdo do elemento pai (buttonMenu)
    */
    position: absolute;
    left: 35px;
    top: -8px;
    z-index: 999;
}

#contador-carrinho span {
    /* para garantir que o width funcione */
    display: inline-block; 
    /* tamanho fixo, para não ficar variando dependendo do numero */
    width: 23px;
    /* alinhando horizontalmente e verticalmente */
    text-align: center;
    border-radius: 50%;
    padding: 2px 0px;
    
    color: #2767C8;
    background-color: #fff;
    font-size: 14px;
}

.alinharBotoes {
    display: flex;
    align-items: center;
}

.agrupaCarrinho {
    background-color: #2767C8;
    border-radius: 5px;

    padding-left: 15px;
    padding-right: 15px;
    margin-right: 5px;
    margin: 5px;
    transition: transform 0.5s ease;
}

.agrupaCarrinho:hover {
    transform: scale(1.05);
    transition: all linear 200ms;
}

/* .agrupaCarrinho img {
    width: 20px;  
} */

.iconeMenuLateral {
    font-family: 'Cabin', sans-serif;
    font-weight: 600;   
    padding: 10px 20px;
    margin: 5px;
    color: #fff;
    background-color: #2767C8;
    border: none;
    border-radius: 5px;
    transition: transform 0.5s ease;
}

.iconeMenuLateral:hover {
    transform: scale(1.05);
    cursor: pointer;
    transition: all linear 200ms;
}

#agrupaMenuLateral {
    display: block;
    width: 100%;
    background-color: #000;
}

#menuLateral {
    position: fixed;
    /* display: none; */
    top: 0;
    right: -550px; 
    width: 500px;
    height: 100%;
    z-index: 999;
    background-color: #fff;
    transition: right 0.5s ease;
    box-shadow: 0 1px 5px #bebcbc;
    /* margin-top: 89px; */
}

#menuLateral ul {
    margin-top: 10px;
}

#menuLateral li {
    list-style: none;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

#menuLateral ul a {
    text-decoration: none;
    color: #000;
    word-wrap: break-word;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 15px;
    padding: 8px 5px;
    margin-left: 10px;
}

#menuLateral ul a:hover {
    color: #2767C8;
}

#menuLateral i {
    margin-left: 4px;
    font-size: 18px;
    width: 10px;
}

.iconeFechaMenu {
    margin-left: 470px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
}
.iconeFechaMenu:hover {
    cursor: pointer;
}

.botaoLoginCadastro {
    text-align: center;
}

.botaoLoginCadastro button {
    margin-top: 50px;
    padding: 10px;
    background-color: #2767C8;
    border: none;
    border-radius: 5px;
    transition: transform 0.5s ease;
}

.botaoLoginCadastro button:hover {
    transform: scale(1.02);
    transition: all linear 200ms;
}

.botaoLoginCadastro a {
    text-decoration: none;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
/* formatando banners */

.banner img {
    width: 100%;
    height: 650px;
    border-radius: 5px;
}

/* formatando as classes titulos, subtitulo e titulo */
.titulos {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.subtitulo {
    color: #CCCCCC;
    font-weight: 700;
    font-size: 15px;
}

.titulo {
    color: #000;
    font-size: 25px;
    padding-bottom: 20px;
}

/* formatando cardapio */

.cardapio {
    background-color: #fff;
    width: 100%;
    height: 400px;
    margin-top: 50px;
}

.containerCardapio {
    max-width: 1140px;
    margin: 0 auto;
}

.containerCardapio .titulos {
    padding-top: 15px;
}

.itensCardapio {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.itemCardapio {
    font-family: 'Cabin', sans-serif;
    padding: 20px;
    width: calc((100% / 1) - 20px);
}

.itemCardapio:hover {
    cursor: pointer;
}

.infoCardapio {
    background-color: #7A5232;
    border-radius: 10px;
    transition: transform 0.5s ease;
    box-shadow: 0 1px 6px #bebcbc;
}

.infoCardapio:hover {
    transform: scale(1.05);
    transition: all linear 200ms;
}

.infoCardapio p {
    border-radius: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #E7E7E7;
    color: #000;
}

.infoCardapio img {
    height: 200px;
}

.texto-cardapio {
    background-color: #E7E7E7;
    border-radius: 15px;
}

.container .titulos {
    padding-top: 20px;
}

.listaProdutos {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.produto {
    border: solid 1px #ccc;
    border-radius: 15px;
    font-family: 'Cabin', sans-serif;
    background-color: #fff;
    padding: 20px;
    height: 490px;
    /* width: calc((100% / 1) - 30px); */
}

.produto:hover {
    border-color: #e9e2e2;
}

.imgProduto {
    background-color: #E7E7E7;
    text-align: center;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.imgProduto img {
    width: 250px;
    height: 200px;
}

.nomeValorProduto {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.descricaoProduto p {
    word-wrap: break-word;
    font-size: 14px;
    margin-top: 5px;
}

.addCart {
    margin-top: 50px;
}

.addCart button {
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    font-size: 25px;

    background-color: #8C6342;
    color: #fff;

    border: none;
    border-radius: 5px;
    padding: 3px 20px;
}

.addCart button:hover {
    background-color: #725239;
}

/* formatando seção de avaliação de clientes */

#clientes {
    display: flex;

}

.cliente {
    width: 400px;
    margin-right: 100px;
}

.imgCliente img {
    background-color: #848384;
    width: 100px;
    border-radius: 50%;
    padding-top: 8px;
}

.infoCliente {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.comentarioCliente {
    word-wrap: break-word;
    color: #ADACAC;
}

.notaCliente img {
    width: 30px;
    margin-top: 10px;
    margin-right: 15px;
}

/* formatando rodapé */

#rodape {
    background-color: #000;
    font-family: 'Poppins', sans-serif;
    color: #848384;
    padding-bottom: 70px;
    margin-top: 90px;
   
}

.agrupaRodape {
    height: 80%;
    padding-bottom: 140px;
    border-bottom: 2px solid #333232;
}

.colunaRodape {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.infoRestaurante {
    width: 20%;
}

.infoRestaurante p {
    word-wrap: break-word;
    color: #848384;
}

.linhaRodape li {
    list-style: none;
}

.linhaRodape a {
    text-decoration: none;
    color: #848384;
}

.linhaRodape a:hover {
    color: #ADACAC;
}

.rodape-logo img {
    width: 150px;
}

.redesRestaurante {
    display: flex;

}

.icone {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 15px;
    padding: 5px 10px;
}

.icone i {
    width: 17px;
    text-align: center;
}