@import url(main2.css);

/* formatação padrão do template */
body {
    font-family: 'Poppins', sans-serif;
}

.tituloEditUser {

    padding: 30px;
    border-bottom: 1px solid #CCCCCC;

}

.tituloEditUser h2 {
    font-weight: 500;
}

.tituloEditUser p {
    padding-top: 5px;
    font-size: 0.9rem;
    color: #918f8f;
}

/* titulo da seção */

#tituloDetalhes {
    font-weight: bold;
    padding-bottom: 10px;
}

/* formatação bloco1InfoCartão */
.limitaLabel {
    position: relative;
}

.agrupaCampoCartao,
.agrupaAlteracaoSenha {
    margin-top: 20px;
}

.agrupaCampoCartao input {
    background-color: #F8F8F8;
    width: 300px;
    height: 50px;

    border: 1px solid #C5C5C5;
    border-radius: 4px;

    padding-top: 1.25rem;
    /* espaço de onde o usuário vai começar a digitar */
    padding-left: 0.50rem;
    transition: all 0.3s ease;
    font-size: 1rem;
}

.agrupaCampoCartao input:hover,
.agrupaAlteracaoSenha input:hover {
    border-color: #A5A5A5;
}

.agrupaCampoCartao input:focus,
.agrupaAlteracaoSenha input:focus {
    background-color: #FFF;
    border-color: #80bdff;
    /* Remove o outline padrão */
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.agrupaCampoCartao label {
    position: absolute;
    top: 1px;
    left: 0.2rem;
    font-size: 0.875rem;
    color: #8B8B8B;
    pointer-events: none;

    padding: 0 0.25rem;
}

.hakuna {
    margin-right: 50px;
    display: flex;
}

.margem {
    padding-left: 30px;
    display: flex;
}

/* formatação do lapis */

.editPayment {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 50px;
    width: 50px;

    border-radius: 5px;
    background-color: #2767C8;
    transition: all 0.3s ease;

    margin-left: 5px;
}

.editPayment:hover {
    background-color: #1e59b3;
}

.editPayment img {
    width: 35px
}

/* formatando botão submit */

.posicionaBotaoSubmit {
    display: flex;
    justify-content: center;
}

.botaoAdicionar {

    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;

    padding: 8px 55px;
    margin-top: 50px;

    background-color: #2767C8;
    color: #fff;

    border: none;
    border-radius: 5px;

    transition: all 0.3s ease;

}

.botaoAdicionar:hover {
    background-color: #1e59b3;
    cursor: pointer;
}

/* divisor de detalhes pessoais - alteração senha  */

.divisor {
    /* border-bottom: 1px solid #ccc; */
    margin-top: 20px;
    padding-bottom: 25px;
}

/* formatação da parte de trocar senha */

.agrupaAlteracaoSenha {
    padding-left: 30px
}

.agrupaAlteracaoSenha input {
    background-color: #F8F8F8;
    width: 400px;
    height: 50px;

    border: 1px solid #C5C5C5;
    border-radius: 4px;

    padding-top: 1.25rem;
    /* espaço de onde o usuário vai começar a digitar 0.25*/
    padding-left: 0.50rem;
    transition: all 0.3s ease;

    font-size: 1rem;
}

.agrupaAlteracaoSenha label {
    position: absolute;
    top: 1px;
    left: 0.2rem;
    font-size: 0.875rem;
    color: #8B8B8B;
    pointer-events: none;

    padding: 0 0.25rem;
}

.changePassword {
    padding-left: 30px;

    margin-top: 15px;
    margin-bottom: 15px;
}

.changePassword p {
    width: 65%;
    padding-top: 5px;
    font-size: 0.9rem;
    color: #918f8f;
}

.listaAvisoSenha {
    margin-top: 10px;
    margin-bottom: 10px;

    background-color: #e2dfdf;
    border-radius: 5px ;

    width: 400px;

    display: flex;
    align-items: center;
}

.listaAvisoSenha ul {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 40px
}

.listaAvisoSenha li {
    font-size: 15px
}