.posicionaBotaoSubmit {
    display: flex;
}

.botaoAdicionar {

    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;

    padding: 6px 40px;
    margin-top: 50px;
    margin-left: 0.8rem;

    background-color: #8C6342;
    color: #fff;

    border: none;
    border-radius: 5px;

    transition: all 0.3s ease;

}

.botaoAdicionar:hover {
    background-color: #755439;
    cursor: pointer;
}

#botaoCancelar {
    background-color: #fff;
    color: #8C6342;
    border: 1px solid #8C6342;

    text-decoration: none;
}

#botaoCancelar:hover {
    background-color: #755439;
    color: #fff;
    cursor: pointer;
}