.tituloEditUser {
    font-family: 'Poppins', sans-serif;
    padding: 2rem;
    border-bottom: 1px solid #CCCCCC;
}

.tituloEditUser h2 {
    font-weight: 500;
}

.tituloEditUser p,
.tituloEditUser span {
    padding-top: 5px;
    font-size: 0.9rem;
    color: #716B6B;

    width: 35%
}