@import url(categorias.css);

span {
    color: #727272;
}

.agrupaBanner {

    margin-bottom: 40px;
}

.tituloBanner {
    margin-left: 30px;
}

.banner {
    display: flex;
    justify-content: center;
}

.fundoBanner {

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #ccc;
    margin-top: 20px;
    border-radius: 15px;

    width: 1096px;
    height: 650px;

}

.owl-prev,
.owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    border-radius: 50%;
    padding: 15px 20px;
    cursor: pointer;
    z-index: 1000;

    font-size: 90px;
}

.owl-prev {
    left: 10px;
}

.owl-next {
    right: 10px;
}