@import url(main2.css);

#limpaCarrinho {
    font-family: 'Cabin', sans-serif;
    background-color: #8C6342;
    color: #fff;

    border: none;
    border-radius: 10px;

    padding: 10px 30px;
    margin-top: 8px;
    position: absolute;
    right: 35px;

    transition: transform 0.5s ease;
}

#limpaCarrinho:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: all linear 200ms;

    color: #F9EED9;
}

.listaCarrinho {
    background-color: #F9EED9;
}

.agrupaItemCarrinho {
    display: flex;
    align-items: center;
}

.agrupaItemCarrinho img {
    height: 280px;
    width: 350px;
    border-radius: 40px;
}

.quantidadeCarrinho {
    width: 30%;
}

.iconeValorCarrinho {
    margin-left: 280px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    padding: 4px 8px;
    background-color: #D9D9D9;
}

.fa-solid:hover {
    cursor: pointer;
}

.quantidadeCarrinho {
    font-family: 'Poppins', sans-serif;
}

.info-lanche {
    padding-left: 15px;
}

.info-lanche h2 {
    color: #8C6342;
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-size: 40px;
}

.descricao {
    font-family: "Signika Negative", sans-serif;
    font-weight: 400;
    color: #979797;
}

.valor {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 30px;
}

.aproveiteTambem {
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
}

.aproveiteTambem h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding-left: 15px;
    padding-top: 10px;
}

.listaAproveiteTambem {
    display: flex;
}

.produtoListaAproveiteTambem {
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.06);
    border-radius: 7px;
    font-family: 'Cabin', sans-serif;
    padding: 5%;
    height: 45vh;
    width: 22vw;

    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 20px;
    transition: border-color 0.3s ease-out, background-color 0.3s ease-out, transform 0.3s ease-out;
}

.produtoListaAproveiteTambem:hover {
    border-color: #e9e2e2;
    background-color: #f9f9f9;
    transform: scale(1.02);
}

.imgProdutoAproveiteTambem {
    position: relative;

    border-radius: 5px;
}

.imgProdutoAproveiteTambem img {
    padding: 12px;
    height: 58%;
}

.iconeMaisAproveiteTambem {
    /* icone não estava aparecendo sob a img, corrigi deicando sua posição absoluta em relação ao elemento pai (elemento pai com position relative)
    * icone não estava aparecendo pois estava sendo posicionado em relação a janela do navegador, utilizando essa "combinação" de comandos, faço com que ele seja posicionao em relação ao conteiner mais proximo com a sua posição definida (posição definida = com seu position diferente do position padrão, neste caso: caixa pai com position: relative) */
    position: absolute;
    bottom: 8px;
    right: 20px;

    padding: 10px 14px;
    border-radius: 50%;
    background-color: #8C6342;
}

.tituloValorAproveiteTambem {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.tituloValorAproveiteTambem h3 {
    font-size: 17px;
}

.tituloValorAproveiteTambem p {
    font-size: 14px;
}

.descricaoProdutoAproveiteTambem p {
    width: 74%;
    word-wrap: break-word;
    font-size: 12px;
    margin-top: 5px;
}

.pagamento-e-cupom {
    font-family: 'Poppins', sans-serif;
    padding: 20px 30px;
    border-bottom: 2px solid #ccc;
}

.pagamento-e-cupom h3 {
    margin-bottom: 20px;
}

.pagamento-e-cupom a {
    font-weight: 700;
}

.pagamento {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.img-texto-pagamento {
    display: flex;
}

.textoPagamento p {
    color: #9B9999;
    font-weight: 600;
}

#botaoAlterar,
#botaoAdicionar {
    color: #8C6342;
    transition: transform 0.5s ease;
}

#botaoAlterar:hover,
#botaoAdicionar:hover {
    color: #643c1c;
    transition: all linear 200ms;
}

.imgPagamentoCupom {

    background-color: #202020;
    border-radius: 50%;
    text-align: center;

    margin-right: 8px;
    height: 10vh;
    width: 5vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

.imgPagamentoCupom img {
    height: 7vh;
}

.cupom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.pagamentoCarrinho {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: 20px 30px;
}

.valoresCarrinho {
    margin-bottom: 8%;
}

.valoresCarrinho p {
    color: #9B9999;
}

.valoresCarrinho h3 {
    color: #9B9999;
    font-weight: 600;
}

.finaliza {
    text-align: center;
}

.finaliza button {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.1em;

    display: inline-block;
    color: #FFFFFF;
    background-color: #8C6342;
    border-radius: 10px;
    border: none;
    padding: 1rem 3rem;

    transition: transform 0.5s ease;
}

.finaliza button:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: all linear 200ms;
}

/* formatando mini telas (tela de pagamento) */

.telaPagamento {

    display: none;
    position: fixed;

    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    z-index: 999;

    /* permite scroll, se precisar */
    overflow: auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;

    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.telaPagamento a {
    color: #EC3030;
    font-size: small;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.telaPagamento a:hover {
    color: #bf2626;
    text-shadow: 0 0 5px rgba(236, 48, 48, 0.1);
}

.telaPagamento img {
    width: 50px;
}

.fundoMiniTelaPagamento {
    /* centralizando div */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #fff;
    box-shadow: 0 2px 3px #ccc;

    width: 470px;
    height: 580px;
    border-radius: 10px;

    animation-name: animatetop;
    animation-duration: 1s;
}

#fechar-mini-tela {
    margin-left: 437px;
    margin-top: 5px;
    /* margin-bottom: 1px; */
    font-size: 25px;

    color: #c7c0c0;
}

.formaPagamento {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 10px;
    padding: 15px 10px;

    width: 450px;
    height: 90px;

    background-color: #F4F4F4;
    border: 1px solid #ccc;
    border-radius: 20px;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    transition: all 0.3s ease;
}

.formaPagamento:hover {

    background-color: #e9ecef;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);

}

.imgTituloFormaPagamento {
    display: flex;
    align-items: center;
}

.imgTituloFormaPagamento p {
    margin-left: 5px;
}

#pagamentoSalvo .formaPagamento:hover {
    cursor: pointer;
}

#pagamentoSalvo h3 {
    margin-left: 15px;
    color: #5C5B5B;
}

.nomeCartao,
.dataCartao {
    font-size: 15px
}

.dataCartao {
    color: #716B6B;
}

#metodo-pagamento p {
    font-weight: 500;
}

.imgFormaPagamento {
    background-color: #202020;
    padding: 1rem 0.5rem;
    border-radius: 50%
}

.imgFormaPagamento img {
    width: 35px
}

/* formatando mini telas (tela de cupom) */

#cupom-disponivel {
    display: none;
    position: fixed;

    top: 0;
    left: 0;

    z-index: 999;

    overflow: auto;

    width: 100%;
    height: 100%;

    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);

    /* border-radius: 15px;   */
}

.fundoMiniTelaCupom {
    /* centralizando mini tela */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #EEEEEE;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 40%;
    border-radius: 15px;

    box-shadow: 0 2px 3px #ccc;

    animation-name: animatetop;
    animation-duration: 1s;
}

#fechar-mini-tela2 {
    margin-left: 510px;
    margin-bottom: 10px;
    font-size: 25px;

    color: #c7c0c0;
}

.cuponsDisponiveis {
    margin-bottom: 20px;
    padding: 10px 20px;

    border: 1px solid #D9D9D9;

    background-color: #F5F5F5;
}

.agrupaCupom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.infoCupom {
    display: flex;
}

.infoCupom img {
    width: 50px;
}

.infoCupom h2 {
    font-weight: 600;
}

.infoCupom p {
    color: #929090;
}

.desc-cupom {
    font-family: 'Poppins', sans-serif;
    margin-left: 10px;
}

.desc-cupom h2 {
    font-size: 18px;
}

.desc-cupom p {
    font-size: 14px;
}

.imgCupom2 img {
    margin-top: 15px;
    width: 30px;
}

.lanchesDisponiveis {

    font-family: "Baloo Bhai 2", sans-serif;
    font-weight: 600;
    color: #8C6342;
    background-color: #fff;
    border: 1px solid #8C6342;

    border-radius: 15px;
    margin-top: 30px;

    text-align: center;

    transition: transform 0.5s ease;
    cursor: pointer;
}

.lanchesDisponiveis:hover {
    color: #fff;
    background-color: #8C6342;
    transition: ALL linear 200ms;
}

#rodape {
    margin-top: 0px;
}

/* animação de mini tela */

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 300;
        opacity: 1
    }
}