@import url(main2.css);

body {
    background-color: #fff;
}

.container{
    font-family: 'Poppins', sans-serif;
    font-weight: 500; ;
}

.politica-privacidade{
    padding-top: 20px;
}

.topicos{
    margin-bottom: 20px;
}

.rede-social a img:hover{
    transform: scale(1.05);
    transition: all linear 160ms;
}

.ultimaAtt {
    color: #848384;
}