/* formatando as classes titulos, subtitulo e titulo */
.titulos {
    font-family: 'Poppins', sans-serif;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

.titulo {
    color: #000;
}

.subtitulo {
    color: #848384;
    font-weight: 600
}

.descCategoria {
    color: #848384;
    font-size: 1em;
}